// buttons Mixins
.cta-size() {
    padding: 10px 50px;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 50px;
}

.cta-shape(@border-color,@r) {
    border: 2px solid @border-color;
    border-radius: @r;
}

// form mixins
.form-el(@r) {
    border: 1px solid gray;
    border-radius: @r;
}

// gallery grid system
.gallery-grid() {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
}

@primary-color: rgb(253, 216, 1);
@secondary-color: rgb(37, 69, 142);