body {
  font-family: 'Raleway';
}
h1,
h2 {
  margin: 0;
}
a {
  text-decoration: none;
}
.wrap {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.line {
  width: 300px;
  margin: 20px auto;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
}
.show-color {
  background-color: #25458e;
  transition: .5s;
}
header {
  height: 800px;
  background-image: url('../../image/cover.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
header .navigation {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}
header .navigation .bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navigation .bar .logo {
  display: flex;
  align-items: center;
  color: white;
}
header .navigation .bar .logo .name h1,
header .navigation .bar .logo .name h2 {
  font-size: 1.333em;
}
header .navigation .bar .buttons {
  display: flex;
  align-items: center;
  color: white;
}
header .navigation .bar .buttons ul {
  display: flex;
}
header .navigation .bar .buttons ul li {
  margin: 0 10px;
}
header .navigation .bar .buttons ul li a {
  color: white;
  font-size: 1.1em;
}
header .navigation .bar .buttons .donate {
  margin: 0 30px 0 30px;
}
header .navigation .bar .buttons .donate a {
  background-color: #fdd801;
  padding: 10px 50px;
  font-weight: bold;
  font-size: 1.3em;
  border-radius: 50px;
  color: black;
}
header .navigation .bar .buttons .donate a:hover {
  background-color: #caad01;
}
header .hero .goal {
  display: flex;
  text-align: center;
  align-items: center;
  height: 800px;
}
header .hero .goal p {
  font-size: 3em;
  color: #fff;
  margin: 0 auto;
}
main {
  background-color: #dadada;
  padding: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section .about-us {
  text-align: center;
}
main section .about-us h2 {
  color: #25458e;
}
main section .about-us p {
  font-size: 1.3em;
  margin: 20px 170px;
  line-height: 30px;
}
.our-cause .cause {
  background-color: #25458e;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.our-cause .cause .video {
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-cause .cause .video iframe {
  height: 500px;
  width: 650px;
}
.our-cause .cause .case-container {
  background-color: #25458e;
  display: flex;
  align-items: center;
}
.our-cause .cause .case-container .case {
  margin-left: 2.5em;
}
.our-cause .cause .case-container .case h2 {
  color: #ffffff;
}
.our-cause .cause .case-container .case p {
  font-size: 1.09em;
  width: 570px;
  color: white;
  line-height: 25px;
}
.our-cause .cause .case-container .case .donate {
  padding-top: 1.56em;
}
.our-cause .cause .case-container .case .donate a {
  padding: 10px 50px;
  font-weight: bold;
  font-size: 1.3em;
  border: 2px solid #ffdd00;
  border-radius: 50px;
  color: #ffdd00;
}
.our-cause .cause .case-container .case .donate a:hover {
  color: #ccb100;
  border: 2px solid #ccb100;
  border-radius: 50px;
}
.quotes-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quotes-container .quotation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quotes-container .quotation .qoute p {
  font-family: sans-serif;
  font-size: 2em;
}
.quotes-container .quotation .qoute span {
  padding-top: 60px;
  font-size: 2.1em;
  font-family: sans-serif;
}
.gallery {
  background-color: #ddd;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts-us .contacts {
  text-align: center;
  margin-top: 4em;
}
.contacts-us .contacts a {
  color: black;
  margin: 6px;
  font-size: 1.2em;
}
.contacts-us .find-us {
  display: flex;
  justify-content: center;
  margin: 3em 0 2em 0;
  flex-wrap: wrap;
  align-content: space-between;
}
.contacts-us .find-us .location {
  margin: 0;
}
.contacts-us .find-us .newsletter {
  margin-left: 30px;
}
.contacts-us .find-us .newsletter form input {
  margin: 5px 0;
  width: 530px;
  padding: 12px 25px;
  border: 1px solid gray;
  border-radius: 50px;
}
.contacts-us .find-us .newsletter form textarea {
  margin: 5px 0;
  padding: 1em;
  border: 1px solid gray;
  border-radius: 20px;
}
.contacts-us .find-us .newsletter form button {
  padding: 10px 50px;
  font-weight: bold;
  font-size: 1.3em;
  border: 2px solid #000040;
  border-radius: 50px;
  padding-top: 6px;
  margin-top: 5px;
  padding-bottom: 6px;
  color: #000040;
}
.contacts-us .find-us .newsletter form button:hover {
  color: #000073;
}
footer {
  background-color: #333333;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer small {
  color: white;
  font-size: 1.1em;
}
footer small a {
  color: #559c58;
}
@media (max-width: 1266px) {
  nav {
    display: none;
  }
  .bar {
    font-size: 2em;
  }
  #hero_text {
    font-size: 3.5em;
  }
  main h2 {
    font-size: 3.5em;
  }
  .cause {
    padding: 50px 0;
  }
  .cause .case-container {
    margin-top: 50px;
  }
  .cause h2 {
    font-size: 3.3em;
    text-align: center;
  }
  #main_para {
    font-size: 3em;
    line-height: 50px;
    text-align: left;
    margin: 50px 60px;
  }
  #cause_para {
    font-size: 3em;
    line-height: 60px;
    text-align: left;
    margin: 50px 0;
    width: 800px;
  }
  #video {
    height: 600px;
    width: 900px;
  }
  #qoute {
    font-size: 2.3em;
  }
  .contacts {
    font-size: 2.4em;
  }
  .location {
    font-size: 2em;
  }
  .newsletter {
    font-size: 1.4em;
  }
  footer {
    font-size: 1.6em;
  }
}
@media (max-width: 1170px) {
  .find-us {
    height: 1290px;
  }
}

/*# sourceMappingURL=main.css.map */
