body {
    background-color: #263238;
}

.container {

    h1 {
        color: rgb(255, 255, 255);
    }
    h2 {
        color: #ddd;
    }
    .box {
        .sizes(200px);
        margin-top: 3em;
        background-color: lighten(#263238, 70%);
    }
}