// Cause
@media (max-width: 1266px) {
    .buttons {
        display: none;
    }
    .cause {
        height: 1070px;
    }
    main {
        p {
            font-size: 3em;
        }
    }
}

// Contact
@media (max-width: 1170px) {
    .find-us {
        height: 1000px;
    }
    #gmap_canvas {
        height: 600px;
        width: 800px;
    }
}