// Cause
@media (max-width: 1266px) {
    
    nav {
        display: none;
    }
    .bar {
        font-size: 2em;
    }
    #hero_text {
        font-size: 3.5em;
    }
    main {
        h2 {
            font-size: 3.5em;
        }
    }
    .cause {
        padding: 50px 0;
        .case-container {
            margin-top: 50px;
        }
        h2 {
            text-align: center;
            font-size: 3.3em;
            text-align: center;
        }
    }
    #main_para {
        font-size: 3em;
        line-height: 50px;
        text-align: left;
        margin: 50px 60px;
    }
    #cause_para {
        font-size: 3em;
        line-height: 60px;
        text-align: left;
        margin: 50px 0;
        width: 800px;
    }
    #video {
        height: 600px;
        width: 900px;
    }
    #qoute {
        font-size: 2.3em;
    }

    .contacts {
        font-size: 2.4em;
    }

    .location {
        font-size: 2em;
    }
    .newsletter {
        font-size: 1.4em;
    }
    footer {
        font-size: 1.6em;
    }
}

// Contact
@media (max-width: 1170px) {
    .find-us {
        height: 1290px;
    }
}