header {
    height: 800px;
    background-color: gray;
    .navigation {
        .bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                display: flex;
                align-items: center;
                color: white;
                .name {
                    h1,
                    h2 {
                        font-size: 1.333em;
                    }
                }
            }
            .buttons {
                display: flex;
                align-items: center;
                color: white;
                ul {
                    display: flex;
                    li {
                        margin: 0 5px;
                        a {
                            color: white;
                            font-size: 1.1em;
                        }
                    }
                }
                .donate {
                    margin: 0 30px 0 30px;
                    a {
                        background-color: @primary-btn;
                        .cta-size();
                        color: black;
                        &:hover {
                            background-color: darken(@primary-btn, 10%);
                        }
                    }
                }
            }
        }
    }
    .hero {
        .goal {
            display: flex;
            text-align: center;
            align-items: center;
            height: 500px;
            p {
                font-size: 3em;
                color: #fff;
                margin: 0 auto;
            }
        }
    }
}

main {
    background-color: rgb(218, 218, 218);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    section {
        .about-us {
            text-align: center;
            h2 {
                font-size: 2.3em;
                font-weight: 900;
                color: rgb(37, 69, 142);
            }
            p {
                font-size: 1.3em;
                width: 1100px;
                line-height: 30px;
            }
        }
    }
}

.our-cause {
    background-color: rgb(37, 69, 142);
    .cause {
        display: flex;
        height: 500px;
        width: 1280px;
        margin: 0 auto;
        .video {
            width: 690px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .case-container {
            background-color: rgb(37, 69, 142);
            display: flex;
            align-items: center;
            .case {
                margin-left: 2.5em;
                width: 690px;
                h2 {
                    font-size: 2em;
                    color: #ffffff;
                }
                p {
                    font-size: 1.09em;
                    width: 600px;
                    color: white;
                    padding-right: 39px;
                    line-height: 25px;
                }
                .donate {
                    padding-top: 1.56em;
                    a {
                        .cta-size();
                        .cta-shape(rgb(255, 221, 0), 50px);
                        color: rgb(255, 221, 0);
                        &:hover {
                            color: darken(rgb(255, 221, 0), 10%);
                            .cta-shape(darken(rgb(255, 221, 0), 10%), 50px);
                        }
                    }
                }
            }
        }
    }
}

.quotes-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    .quotation {
        display: flex;
        justify-content: center;
        align-items: center;
        .qoute {
            p {
                font-family: sans-serif;
                font-size: 2em;
            }
            span {
                padding-top: 60px;
                font-size: 2.1em;
                font-family: sans-serif;
            }
        }
    }
}

.gallery {
    background-color: #ddd;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts-us {
    height: 720px;
    .contacts {
        text-align: center;
        margin-top: 4em;
        a {
            color: black;
            margin: 6px;
            font-size: 1.2em;
        }
    }
    .find-us {
        display: flex;
        justify-content: space-between;
        width: 1200px;
        margin: 3em auto;
        .newsletter {
            form {
                input {
                    margin: 5px 0;
                    width: 530px;
                    padding: 12px 25px;
                    .form-el(50px);
                }
                textarea {
                    margin: 5px 0;
                    padding: 1em;
                    .form-el(20px);
                }
                button {
                    .cta-size();
                    .cta-shape(rgb(0, 0, 64), 50px);
                    padding-top: 6px;
                    margin-top: 5px;
                    padding-bottom: 6px;
                    color: rgb(0, 0, 64);
                    &:hover {
                        color: lighten(rgb(0, 0, 64), 10%);
                    }
                }
            }
        }
    }
}

footer {
    background-color: rgb(51, 51, 51);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    small {
        color: white;
        font-size: 1.1em;
        a {
            color: rgb(85, 156, 88);
        }
    }
}