header {
    height: 800px;
    background-image: url('../../image/cover.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    .navigation {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1;
        .bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                display: flex;
                align-items: center;
                color: white;
                padding: .4em 0;
                margin-left: 45px;
                user-select: none;
                .name {
                    width: 100%;
                    margin-left: 2em;
                    .first-line {
                        font-size: 3.5vh;
                    }
                    .second-line {
                        font-size: 2.3vh;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
            .buttons {
                display: flex;
                align-items: center;
                color: white;
                ul {
                    display: flex;
                    align-items: center;
                    li {
                        margin: 0 10px;
                        a {
                            color: white;
                            font-size: 1.28rem;
                            &:hover {
                                color: @primary-color;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .donate {
                    margin: 0 30px 0 30px;
                    a {
                        background-color: @primary-color;
                        .cta-size();
                        color: black;
                        &:hover {
                            background-color: darken(@primary-color, 5%);
                        }
                    }
                }
            }
        }
    }
    .hero {
        .goal {
            display: flex;
            text-align: center;
            align-items: center;
            height: 800px;
            p {
                font-size: 3.4rem;
                color: #fff;
                margin: 0 auto;
            }
        }
    }
}

main {
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    section {
        .about-us {
            width: 100%;
            text-align: center;
            span {
                font-size: 4vh;
                color: @secondary-color;
            }
            p {
                font-size: 3vh;
                margin: 2rem 3.6rem; // line-height: 2vw;
            }
        }
    }
}

.our-cause {
    background-color: @secondary-color;
    display: flex;
    justify-content: space-between;
    .cause {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .video {
            display: flex;
            align-items: center;
            justify-content: center;
            iframe {
                height: 33rem;
                width: 50vw;
            }
        }
        .case-container {
            display: flex;
            align-items: center;
            .case {
                margin-left: 2.5rem;
                h2 {
                    font-size: 2.38vw;
                    color: white;
                }
                p {
                    font-size: 1.47vw;
                    width: 41vw;
                    color: white;
                }
                .donate {
                    padding-top: 1.56rem;
                    a {
                        .cta-size();
                        .cta-shape(@primary-color,
                        50px);
                        color: @primary-color;
                        &:hover {
                            transition: .2s;
                            background-color: @primary-color;
                            color: @secondary-color;
                        }
                    }
                }
            }
        }
    }
}

.quotes-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    .quotation {
        display: flex;
        justify-content: center;
        align-items: center;
        .qoute {
            p {
                font-family: sans-serif;
                font-size: 2em;
            }
            span {
                padding-top: 60px;
                font-size: 2.1em;
                font-family: sans-serif;
            }
        }
    }
}

///////////////////////// PHOTOS //////////////////////////////////////////
.gallery {
    display: flex;
    flex-wrap: wrap;
    img {
        width: 100%;
        vertical-align: middle;
    }
    img:hover {
        transform: scale3d(1.2, 1.2, 1);
        transition: .3s;
        box-shadow: 1px 1px 41px 8px rgba(0, 0, 0, 1);
    }
}

.col-left,
.col-right {
    flex: 50%;
    max-width: 50%;
}

.bind-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

//-------------- col-left ----------------------//
.col-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .col-left-1 {
        flex-basis: 100%;
        justify-content: center;
        background-color: @secondary-color;
        color: white;
        display: flex;
        height: 13.33rem;
        align-items: center;
        span {
            font-size: 2rem;
        }
    }
    .col-left-2,
    .col-left-3,
    .col-left-4,
    .col-left-5 {
        flex: 33.33%;
        max-width: 33.33%;
    }
    .col-left-6 {
        flex: 66.666%;
        max-width: 66.66%;
    }
}

//--------------- col-right ------------------------//
.col-right {
    display: flex;
    flex-wrap: wrap;
    .col-right-1 {
        flex: 33.33%;
        max-width: 33.33%;
    }
    .col-right-2 {
        flex: 33.33%;
        max-width: 33.33%;
    }
    .col-right-3 {
        flex: 33.33%;
        max-width: 33.33%;
    }
    .col-right-4 {
        flex: 66.66%;
        max-width: 66.66%;
    }
    .col-right-5 {
        flex: 33.33%;
    }
    .col-right-6,
    .col-right-7 {
        flex: 33.33%;
        max-width: 33.33%;
    }
}

/////////////////////////////////////////////////////////////////////////
.contacts-us {
    .contacts {
        text-align: center;
        margin-top: 4em;
        h1 {
            font-size: 4.4vh;
            color: @secondary-color;
        }
        span {
            font-size: 3vh;
        }
        a {
            color: black;
            margin: 6px;
            font-size: 3vh;
        }
    }
    .find-us {
        display: flex;
        justify-content: center;
        margin: 3em 0 2em 0;
        flex-wrap: wrap;
        align-content: space-between;
        .location {
            iframe {
                height: 420px;
                width: 600px;
            }
            .location-info {
                h2 {
                    font-size: 4vh;
                    color: @secondary-color;
                }
                p {
                    font-size: 3vh;
                }
            }
        }
        .newsletter {
            margin-left: 30px;
            .newsletter-info {
                h1 {
                    font-size: 4vh;
                    color: @secondary-color;
                }
                p {
                    font-size: 3vh;
                }
            }
            form {
                input {
                    margin: 5px 0;
                    width: 34rem;
                    padding: 12px 25px;
                    .form-el(50px);
                }
                textarea {
                    margin: 5px 0;
                    padding: 1em;
                    width: 34rem;
                    height: 12rem;
                    .form-el(20px);
                }
                button {
                    .cta-size();
                    .cta-shape(@secondary-color,
                    50px);
                    padding-top: 6px;
                    margin-top: 5px;
                    padding: 10px 60px;
                    font-weight: 500;
                    color: @secondary-color;
                    &:hover {
                        background-color: rgb(0, 0, 64);
                        color: #fff;
                        transition: .2s;
                    }
                }
            }
        }
    }
}

footer {
    background-color: rgb(51, 51, 51);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    small {
        color: white;
        font-size: 1.1em;
        a {
            color: rgb(85, 156, 88);
        }
    }
}